{# src/Bundle/ChessBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}


<div id="moves">Game Moves: </br></br> </div>

<div id="error"></br></br> </div>
<div id="players"></br></br> </div>
 	<script type="text/javascript" src="{{ asset('bundles/Bundle/ChessBundle/js/jquery-1.7.min.js') }} "></script>
{% endblock %}
