{# src/Bundle/ChessBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
<div id="start"><a href="game">Start a new game</a></div></br></br>
	

<div id="moves">Game Moves: </br></br> </div>

{% endblock %}
