{# src/Bundle/ChessBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}


<div id="moves">Game Moves: </br></br> </div>

<div id="error"></br></br> </div>
<div id="players"></br></br> </div>
{% endblock %}
